* {
  box-sizing: border-box;
}

:root {
  --bg: #eff3f5;
  --btn: #0f63b8;
  --btn-hover: #358ee6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #55575c;
    --btn: #1e77d1;
    --btn-hover: #196fc5;
  }

  p {
    color: #f0efef;
  }

  button {
    color: #f0efef;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
}

div {
  height: fit-content;
  min-width: 150px;
  width: auto;
  padding: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--bg);
}

p {
  margin: 0.2rem 0;
  font-size: medium;
  display: none;
}

#country {
  font-weight: bold;
}

button {
  margin: 5px;
  background-color: var(--btn);
  border: none;
  border-radius: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: white;
}

button:hover {
  background-color: var(--btn-hover);
}
