div {
    height: fit-content;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
p {
    margin-top: 2px;
    margin-bottom: 0%;
    font-size: medium;
}
button {
    margin: 5px;

}